<!DOCTYPE html>
<html>
  <head>
    <title>My Super Awesome Blog!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="={css}=" />
  </head>
  <body class="bg-slate-50 dark:bg-slate-900">
    <main class="container mx-auto flex flex-col gap-16 py-16">
      <section class="flex flex-col gap-8">
        <h1 class="text-5xl text-slate-900 dark:text-white font-bold">All of our posts!</h1>
        <div class="grid gap-6 grid-cols-4">
          ={posts}=
        </div>
      </section>
    </main>
  </body>
</html>